

body {
  background: linear-gradient(to right, #24565b, #191966);
  background-size: cover; /* Makes the background cover the entire viewport */
  background-repeat: no-repeat; /* Prevents the background from repeating */
}

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
  }
  

  @font-face {
    font-family: "Lexend";
    src: url("/Fonts/Lexend-VariableFont_wght.ttf");
    font-weight: semi-bold;
  }
  

  

 
 
  /* Medium Mobile Styles */

  @media (max-width: 400px) {
    a {
      font-family: Lexend;
      color: white;
      margin: 0;
      text-decoration: none;
    }

    body {
      background-attachment: fixed;
      overflow-x: hidden; 
    }

    h1 {
      font-size: 50px;
      font-family: Lexend;
      color: white;
    }
    
  
    h3 {
      font-size: 100%;
      font-family: Lexend;
      color: white;
    }
    

    
    p {
      font-size: 20px;
      font-family: Lexend;
      color: white;
    }
    
    h4 {
      font-size: 30px;
      font-family: Lexend;
      color: white;
      margin-right: 50px; 
    }

    
    h2 {
      font-size: 5px;
      font-family: Lexend;
      color: white;
    }

  
    .headings-container {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  
    .single-merill-image {
      width: 100%;
      height: 100%;
      margin-bottom: 10%;
    }

    .single-starcatch-image {
        width: 100%;
        height: 100%;
      }


    .privacy-headings-container {
        display: flex;
        justify-content: left;
        margin-left: 30px;
        margin-bottom: 15px;
        margin-top: 15px; 
      }
      
    .privacy-mini-container {
        display: flex;
        justify-content: left;
        margin-left: 20px;
        margin-bottom: 15px; 
      }

    .single-image {
        margin-bottom: 75px;
      }
      
    li {
        font-size: 15px;
        font-family: Lexend;
        color: white;
      }

      .game_img {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
        width: 80%;
        height: 80%;
        display: flex;
    
        }

        .rounded-image {
          border-radius: 5px;
        }
    
    
    }
  
  

  /* Big Mobile Styles */
  @media (min-width: 401px) and (max-width: 600px) {
    a {
      font-family: Lexend;
      color: white;
      margin: 0;
      text-decoration: none;
    }

    body {
      background-attachment: fixed;
      overflow-x: hidden; 
    }

    h1 {
      font-size: 50px;
      font-family: Lexend;
      color: white;
    }
    
  
    h3 {
      font-size: 120%;
      font-family: Lexend;
      color: white;
    }
    

    
    p {
      font-size: 10px;
      font-family: Lexend;
      color: white;
    }
    
    h4 {
      font-size: 30px;
      font-family: Lexend;
      color: white;
      margin-right: 50px; 
    }

    
    h2 {
      font-size: 5px;
      font-family: Lexend;
      color: white;
    }

  
    .headings-container {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  
    .single-merill-image {
      width: 100%;
      height: 100%;
      margin-bottom: 15%;
    }

    .single-starcatch-image {
        width: 50%;
        height: 50%;
      }


    .privacy-headings-container {
        display: flex;
        justify-content: left;
        margin-left: 30px;
        margin-bottom: 15px;
        margin-top: 15px; 
      }
      
    .privacy-mini-container {
        display: flex;
        justify-content: left;
        margin-left: 20px;
        margin-bottom: 15px; 
      }

    .single-image {
        margin-bottom: 10%;
      }
      
    li {
        font-size: 15px;
        font-family: Lexend;
        color: white;
      }

      .game_img {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
        width: 50%;
        height: auto;
        display: block;
    
        }

        .rounded-image {
          border-radius: 5px;
        }
    
    
    }
  
  
  /* Tablet Styles */
  @media (min-width: 601px) and (max-width: 1024px) {

    
    body {
      background-attachment: fixed;
      overflow-x: hidden; 
    }

    
    a {
      font-family: Lexend;
      color: white;
      margin: 0;
      text-decoration: none;
    }

    p {
      font-size: 8px;
      font-family: Lexend;
      color: white;
    }
    
    h4 {
      font-size: 20px;
      font-family: Lexend;
      color: white;
      margin-right: 50px; 
    }

    
    h2 {
      font-size: 10px;
      font-family: Lexend;
      color: white;
    }



    h1 {
      font-size: 60px;
      font-family: Lexend;
      color: white;
    }
  
    h3 {
      font-size: 30px;
      font-family: Lexend;
      color: white;
    }
  
    .center {
      width: 80%;
    }
  
    .single-merill-image {
      width: 70%;
      height: auto;
      margin-bottom: 15%;
    }

    .single-starcatch-image {
      width: 70%;
      height: 70%;
    }
  
    .headings-container {
      flex-direction: row;
      gap: 80px;
    }

    .privacy-headings-container {
      display: flex;
      justify-content: left;
      margin-left: 80px;
      margin-bottom: 30px;
      margin-top: 30px; 
    }
    
    .privacy-mini-container {
      display: flex;
      justify-content: left;
      margin-left: 40px;
      margin-bottom: 30px; 
    }

    .single-image {
      margin-bottom: 150px;
    }
    
    li {
      font-size: 15px;
      font-family: Lexend;
      color: white;
    }

    .game_img {
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
      width: 50%;
      height: 50%;
      display: block;
  
      }

      .rounded-image {
        border-radius: 10px;
      }
    }

  /* Small Desktop Styles */
  @media (min-width: 1025px) and (max-width: 1599px){


    
    body {
      background-attachment: fixed;
      overflow-x: hidden; 
    }



    h1 {
      font-size: 100px;
      font-family: Lexend;
      color: white;
    }
  
    h3 {
      font-size: 200%;
      font-family: Lexend;
      color: white; 
    }

    p {
      font-size: 10px;
      font-family: Lexend;
      color: white;
    }
    
    h4 {
      font-size: 30px;
      font-family: Lexend;
      color: white;
      margin-right: 50px; 
    }

    
    h2 {
      font-size: 20px;
      font-family: Lexend;
      color: white;
    }
    

    
  
    .center {
      width: 50%;
    }
  
    .headings-container {
      display:flex;
      justify-content: center; 
      gap: 150px;
    }
  
    .single-merill-image {
      width: 80%;
      height: 80%;
      margin-bottom: 20%;
    }

    .single-starcatch-image {
      width: 90%;
      height: 90%;
      margin-bottom: 20%;
    }

    a {
      font-family: Lexend;
      color: white;
      margin: 0;
      text-decoration: none;
    }

      
  
    .privacy-headings-container {
    display: flex;
    justify-content: left;
    margin-left: 100px;
    margin-bottom: 40px;
    margin-top: 40px; 
    }
  
    .privacy-mini-container {
    display: flex;
    justify-content: left;
    margin-left: 50px;
    margin-bottom: 40px; 
    }

    .single-image {
    margin-bottom: 200px;
    }
  
    li {
    font-size: 20px;
    font-family: Lexend;
    color: white;
    }

    .game_img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    width: 50%;
    height: auto;
    display: block;


    
    }

     
  .game_img:hover {
    transform: scale(1.20);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 1.7);
  }
  
  h3:hover {
    transform: scale(1.20);
  }
  


    .rounded-image {
      border-radius: 15px;
    }
  }

    /* Medium Desktop Styles */
    @media (min-width: 1600px) and (max-width: 2199px) {


      
    body {
      background-attachment: fixed;
      overflow-x: hidden; 
    }



      h1 {
        font-size: 100px;
        font-family: Lexend;
        color: white;
      }
    
      h3 {
        font-size: 250%;
        font-family: Lexend;
        color: white; 
      }
  
      p {
        font-size: 10px;
        font-family: Lexend;
        color: white;
      }
      
      h4 {
        font-size: 30px;
        font-family: Lexend;
        color: white;
        margin-right: 50px; 
      }
  
      
      h2 {
        font-size: 20px;
        font-family: Lexend;
        color: white;
      }
      
  
      
    
      .center {
        width: 50%;
      }
    
      .headings-container {
        display:flex;
        justify-content: center; 
        gap: 150px;
      }
    
      .single-merill-image {
        width: 100%;
        height: 100%;
        margin-bottom: 50%;
      }
  
      .single-starcatch-image {
        width: 100%;
        height: 100%;
        margin-bottom: 50%;
      }
  
      a {
        font-family: Lexend;
        color: white;
        margin: 0;
        text-decoration: none;
      }
  
        
    
      .privacy-headings-container {
      display: flex;
      justify-content: left;
      margin-left: 100px;
      margin-bottom: 40px;
      margin-top: 40px; 
      }
    
      .privacy-mini-container {
      display: flex;
      justify-content: left;
      margin-left: 50px;
      margin-bottom: 40px; 
      }
  
    
    
      li {
      font-size: 20px;
      font-family: Lexend;
      color: white;
      }
  
      .game_img {
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
      width: 30%;
      height: auto;
      display: block;
  
  
      
      }
  
       
    .game_img:hover {
      transform: scale(1.20);
      box-shadow: 0 6px 15px rgba(0, 0, 0, 1.7);
    }
    
    h3:hover {
      transform: scale(1.20);
    }
    
  
  
      .rounded-image {
        border-radius: 15px;
      }
    }
  

  
  /* Big Desktop Styles */
  @media (min-width: 2200px) {


    
    body {
      background-attachment: fixed;
      overflow-x: hidden; 
    }



    h1 {
      font-size: 100px;
      font-family: Lexend;
      color: white;
    }
  
    h3 {
      font-size: 250%;
      font-family: Lexend;
      color: white; 
    }

    p {
      font-size: 10px;
      font-family: Lexend;
      color: white;
    }
    
    h4 {
      font-size: 30px;
      font-family: Lexend;
      color: white;
      margin-right: 50px; 
    }

    
    h2 {
      font-size: 20px;
      font-family: Lexend;
      color: white;
    }
    

    
  
    .center {
      width: 50%;
    }
  
    .headings-container {
      display:flex;
      justify-content: center; 
      gap: 150px;
    }
  
    .single-merill-image {
      width: 80%;
      height: 80%;
      margin-bottom: 20%;
    }

    .single-starcatch-image {
      width: 80%;
      height: 80%;
      margin-bottom: 20%;
    }

    a {
      font-family: Lexend;
      color: white;
      margin: 0;
      text-decoration: none;
    }

      
  
    .privacy-headings-container {
    display: flex;
    justify-content: left;
    margin-left: 100px;
    margin-bottom: 40px;
    margin-top: 40px; 
    }
  
    .privacy-mini-container {
    display: flex;
    justify-content: left;
    margin-left: 50px;
    margin-bottom: 40px; 
    }

    li {
    font-size: 20px;
    font-family: Lexend;
    color: white;
    }

    .game_img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    width: 50%;
    height: auto;
    display: flex;


    
    }

     
  .game_img:hover {
    transform: scale(1.20);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 1.7);
  }
  
  h3:hover {
    transform: scale(1.20);
  }
  


    .rounded-image {
      border-radius: 15px;
    }
  }
