

body {
  background: linear-gradient(to right, #4e205f, #173449);
  background-size: cover; /* Makes the background cover the entire viewport */
  background-repeat: no-repeat; /* Prevents the background from repeating */
  height: 100%;
  width: 80%;
  background-attachment: fixed;
  overflow-x: hidden; 
  margin-left: 10%;
  margin-right: 10%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  
}

html {
  align-items: center;
  width: 100%;
  height: 100%
  
}

.center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
  

@font-face {
    font-family: "Lexend";
    src: url("/Fonts/Lexend-VariableFont_wght.ttf");
    font-weight: semi-bold;
    f
}
  

a {
      font-family: Lexend;
      color: white;
      margin: 0;
      text-decoration: none;
      
    }


  .top-container {
        display: flex;
        height: 8%;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        padding: 2% 10%;
        background: linear-gradient(to right, #1f2a7145, #2c2c9f);
        color: white;
        border-radius: 10px;
        font-size: 100%;
        margin: 10%;
    }

.top-logo{
      display: flex;
      width: 10%;
      height: 100%;
      margin-right: 5%;

    
    }

 .top-name{
      display: flex;
      margin-right: 10%;
    }

h3 {
      font-size: 120%;
      font-family: Lexend;
      color: white;
    }
  

 

  .nav-links {
    justify-content: center;
    align-items: center;
    font-size: 100%;
    display: flex;  /* Flexbox makes the items align in a row */
    gap: 10%;  /* Adds space between the links */
  }

 .single-merill-image {
      width: 100%;
      height: auto;
    }

 .logo-container{
        display: flex;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 2%, 2%;
        background: linear-gradient(to bottom, #00000095, #00000043);
        color: white;
        border-radius: 2%;
        opacity: 100%;
        margin-bottom: 10%
    }

 .rounded-image {
          border-radius: 5px;
        }

  .game_img {
          transition: transform 0.3s ease, box-shadow 0.3s ease;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
          width: 50%;
          height: auto;
          display: flex;
      
      
          
        }
      
      
           
  .game_img:hover {
          transform: scale(1.20);
          box-shadow: 0 6px 15px rgba(0, 0, 0, 1.7);
        }
        
        h3:hover {
          transform: scale(1.20);
        }
      
      
      
      
      
      
        
        .game-container{
          display: flex;
          width: 80%;
          height: auto;
          align-items: center;
          justify-items: center;
          padding: 10% 10%;
          background: linear-gradient(to bottom, #400b96ea, #762154);
          color: white;
          border-radius: 10px;
       
          opacity: 100%;
          margin-bottom: 10%;
      
      
      
      }
      
      



    h1 {
      font-size: 100px;
      font-family: Lexend;
      color: white;
    }
  


    p {
      font-size: 10px;
      font-family: Lexend;
      color: white;
    }
    
    h4 {
      font-size: 30px;
      font-family: Lexend;
      color: white;
      margin-right: 50px; 
    }

    
    h2 {
      font-size: 20px;
      font-family: Lexend;
      color: white;
    }
    

    
  
    .center {
      width: 50%;
    }
  
    .bottom-container {
      display: flex;
      height: 50px;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
      background: rgba(255, 255, 255, 0.733);
      color: linear-gradient(to right, #3e4780, #1111b088);
      border-radius: 10px;
      margin-bottom: 5%;
      margin-left: 5%;
      margin-right: 5%;
    }
  
      
  
    .privacy-headings-container {
    display: flex;
    justify-content: left;
    margin-left: 100px;
    margin-bottom: 40px;
    margin-top: 40px; 
    }
  

    li {
    font-size: 20px;
    font-family: Lexend;
    color: white;
    }

   

.bottom-container h2 {

  font-size: 170%;
  font-family: Lexend;
  color: rgba(19, 46, 199, 0.764);
}

